# Ignore all build directories.  These are preceded by "_"
_*

# Ignore autosave files
*~

# Ignore build output
*.mod
*.o

# Ignore mesh files
*.smb
*.dmg
*.smd
*.vtk
*.sms
m3dc1_meshgen.log
plot_geo
unstructured/templates/*/*/*.txt

# Ignore regtest output
unstructured/regtest/*/*
unstructured/regtest/*/*
!unstructured/*/base/*
slurm*

#ADAS
unstructured/i4fctn.f
unstructured/i4unit.f
unstructured/test.f
unstructured/xfelem.f
unstructured/xxcase.f
unstructured/xxdata_11.f
unstructured/xxrptn.f
unstructured/xxslen.f
unstructured/xxword.f


#Documentation
unstructured/doc/*.aux
unstructured/doc/*.dvi
unstructured/doc/*.bbl
unstructured/doc/*.blg
unstructured/doc/*.log
unstructured/doc/*.toc
unstructured/doc/doc.pdf
 #Ignore all
doc/*
 #BUT
!doc/*.tex
!doc/m3dc1.bib
!unstructured/doc/*.tex
!unstructured/doc/*.tex
!readme
!figures/*

